:root {
  --very-light-blue: #ECF2FF;
  --light-blue: #CAC9FF;
  --navy: #303B59;
  --navy-50: #303B5980;
  --red: #FF5555;
  --orange: #FFB21E;
  --green: #00BB8F;
  --blue: #1125D6;
  --bold: 700;
  --extraBold: 800;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0;
  background-color: var(--very-light-blue);
}

p, h2 {
  padding: 0;
  margin: 0;
}

main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 30px 60px #3D6CEC26;
}

.result {
  background: linear-gradient(#7755FF, #2F2CE9);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-radius: 0 32px 32px 0;
  padding: 38px 50px;
  max-width: 368px;
}

.result h2 {
  color: var(--light-blue);
  font-size: 24px;
  font-weight: var(--bold);
  margin-bottom: 35px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#4D21C9, #2521C900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px 0;
  margin-bottom: 28px;
}

.circle span:first-child {
  color: #FFF;
  font-size: 72px;
  font-weight: var(--extraBold);
}

.circle span:last-child {
  color: var(--light-blue);
  font-weight: var(--bold);
}

.result p:first-of-type {
  color: #FFF;
  font-size: 32px;
  font-weight: var(--bold);
  margin-bottom: 14px;
}

.result p:last-of-type {
  color: var(--light-blue);
  text-align: center;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  padding: 38px 40px;
}

.summary h2 {
  color: var(--navy);
  font-size: 24px;
  font-weight: var(--bold);
  margin-bottom: 28px;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin-bottom: 40px;
}

.item {
  min-width: 288px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
}

.item:first-of-type {
  background-color: #FFF6F6;
  color: var(--red);
}
.item:nth-of-type(2) {
  background-color: #FEFBF4;
  color: var(--orange);
}
.item:nth-of-type(3) {
  background-color: #F2FCF9;
  color: var(--green);
}
.item:nth-of-type(4) {
  background-color: #F1F1FA;
  color: var(--blue);
}

.item .icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 12px;
}

.score-wrapper {
  display: flex;
  gap: 0 4px;
}

.score {
  color: var(--navy);
  font-weight: var(--bold);
}

.base {
  color: var(--navy-50);
  font-weight: var(--bold);
}

.summary button {
  background-color: var(--navy);
  color: #FFF;
  border-radius: 128px;
  border: none;
  width: 100%;
  height: 56px;
  font-size: 18px;
  cursor: pointer;
}

.summary button:hover {
  background: linear-gradient(#7755FF, #2F2CE9);
}

@media all and (max-width: 700px) {
  body {
    font-size: 16px;
  }

  main {
    align-items: normal;
  }

  .card {
    flex-direction: column;
    border-radius: 0 0 32px 32px;;
  }

  .result {
    border-radius: 0 0 32px 32px;
    max-width: none;
  }

  .result, .summary {
    padding: 24px 30px;
  }

  .result h2, .summary h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .circle {
    width: 140px;
    height: 140px;
    margin-bottom: 24px;
  }

  .circle span:first-child {
    font-size: 56px;
  }

  .result p:first-of-type {
    margin-bottom: 8px;
  }

  .items {
    margin-bottom: 24px;
  }

  .item {
    width: 100%;
  }
}